@{
  Layout = "_Layout";
}
<br>
<h3>Use this orgainzer to keep track of your tv shows!</h3>
<br>
<p>Add tv shows to your list!
  <br>
  Look up shows by genre, network, or completion status!
</p>
<br>
<p>@Html.ActionLink("View All Shows", "Index", "Shows")</p>
<p>@Html.ActionLink("View All Genres", "Index", "Genres")</p>
<p>@Html.ActionLink("View All Networks", "Index", "Networks")</p>

<img src="~/img/steven-universe-dance.gif" alt="steven universe dancing gif">