@{
  Layout = "_Layout";
}

<div class="header">
  <h1>Tv Show Organizer</h1>
</div>

<p>Use this orgainzer to keep track of your tv shows!
  <br>
  Add tv shows to your list!
  <br>
  Look up shows by genre, network, or completion status!
</p>

<p>@Html.ActionLink("View All Shows", "Index", "Shows")</p>
<p>@Html.ActionLink("View All Genres", "Index", "Genres")</p>
<p>@Html.ActionLink("View All Networks", "Index", "Networks")</p>

