@{
  Layout = "_Layout";
}

@model TvShow.Models.Genre;

<h3>Add a new Genre!</h3>
<br>
@using (Html.BeginForm())
{
  @Html.TextBoxFor(model => model.GenreType, new{@class = "form-control", placeholder = "Enter a Genre Name Here", required = "required"})
  <br>
  <input type="submit" value="Add Genre" class="btn btn-warning" />
}
<br>
<img src="~/img/garden-wall.gif" alt="over the garden wall gif">