@{
  Layout = "_Layout";
}

@using TvShow.Models;
@model List<TvShow.Models.Show>;

<h1>Shows</h1>

@if (Model.Count == 0)
{
  <p>No Shows yet! Please add a show</p>
}

<div class="list">
  @foreach(Show show in Model)
  {
    @Html.ActionLink($"{show.Title}", "Details", new{ id = show.ShowId}) 
  }
</div>
<br>
<p>@Html.ActionLink("Add a Show", "Create")</p>
<br>
<img src="~/img/bobs.gif" alt="bobs burgers gif">